<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

	<!-- Managers -->
	<object id="AuthenticationManager" type="Bagge.Seti.WebSite.Security.AuthenticationManager, Bagge.Seti.WebSite">
	</object>
	
	<object id="AlertConfigurationManager" type="Bagge.Seti.BusinessLogic.AlertConfigurationManager, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="AlertConfigurationDao"/>
		</constructor-arg>
	</object>

	<object id="AccessibilityTypeManager" type="Bagge.Seti.BusinessLogic.AccessibilityTypeManager, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="AccessibilityDao"></object>
		</constructor-arg>
	</object>

	<object id="CountryStateManager" type="Bagge.Seti.BusinessLogic.SimpleFindGetManager&lt;CountryState, int>, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="CountryStateDao"/>
		</constructor-arg>
	</object>

	<object id="CustomerManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.CustomerManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="CustomerDao"/>
				</constructor-arg>
				<constructor-arg>
					<ref object="TicketManager"/>
				</constructor-arg>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	<object id="DistrictManager" type="Bagge.Seti.BusinessLogic.SimpleFindGetManager&lt;District, int>, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="DistrictDao"/>
		</constructor-arg>
	</object>

	<object id="EmployeeManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.EmployeeManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="EmployeeDao"/>
				</constructor-arg>
				<constructor-arg>
					<object type="EmployeeCategoryDao" />
				</constructor-arg>
				<constructor-arg>
					<ref object="TicketManager" />
				</constructor-arg>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	<object id="EmployeeCategoryManager" type="Bagge.Seti.BusinessLogic.SimpleFindGetManager&lt;EmployeeCategory, int>, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="EmployeeCategoryDao"/>
		</constructor-arg>
	</object>

	<object id="FunctionManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.FunctionManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="FunctionDao" />
				</constructor-arg>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	<object id="ProductManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.ProductManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="ProductDao"/>
				</constructor-arg>
				<constructor-arg>
					<object type="ProductProviderDao" />
				</constructor-arg>
				<constructor-arg>
					<ref object="TicketManager"/>
				</constructor-arg>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	<object id="ProviderManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.ProviderManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="ProviderDao"/>
				</constructor-arg>
				<constructor-arg>
					<object type="ProductProviderDao" />
				</constructor-arg>
				<constructor-arg>
					<ref object="TicketManager"/>
				</constructor-arg>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	<object id="ProviderCalificationManager" type="Bagge.Seti.BusinessLogic.SimpleFindGetManager&lt;ProviderCalification, int>, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="ProviderCalificationDao"/>
		</constructor-arg>
	</object>

	<object id="ReportManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.ReportManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<dictionary key-type="System.Type" value-type="Bagge.Seti.DataAccess.Contracts.Reports.IReportDao, Bagge.Seti.DataAccess">
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.CustomersByTicketReport, Bagge.Seti.BusinessEntities"></constructor-arg>
								</object>
							</key>
							<object type="CustomersByTicketReportDao"></object>
						</entry>
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.CustomersBySubscriptionReport, Bagge.Seti.BusinessEntities"></constructor-arg>
								</object>
							</key>
							<object type="CustomersBySubscriptionReportDao"></object>
						</entry>
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.CustomersWithPendingPaymentReport, Bagge.Seti.BusinessEntities"></constructor-arg>
								</object>
							</key>
							<object type="CustomersWithPendingPaymentReportDao"></object>
						</entry>
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.ProductsByProviderReport, Bagge.Seti.BusinessEntities"></constructor-arg>
								</object>
							</key>
							<object type="ProductsByProviderReportDao"></object>
						</entry>
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.ProductsConsumedReport, Bagge.Seti.BusinessEntities"></constructor-arg>
								</object>
							</key>
							<object type="ProductsConsumedReportDao"></object>
						</entry>
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.RolesByUserReport, Bagge.Seti.BusinessEntities"></constructor-arg> 
								</object>
							</key>
							<object type="RolesByUserReportDao"></object>
						</entry>
						<entry>
							<key>
								<object type="System.Type" factory-method="GetType">
									<constructor-arg value="Bagge.Seti.BusinessEntities.Reports.TechniciansByTicketReport, Bagge.Seti.BusinessEntities"></constructor-arg>
								</object>
							</key>
							<object type="TechniciansByTicketReportDao"></object>
						</entry>
					</dictionary>
				</constructor-arg>
				
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
			</list>
		</property>
	</object>
	
	<object id="RoleManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.RoleManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="RoleDao"/>
				</constructor-arg>
				<constructor-arg>
					<object type="EmployeeDao" />
				</constructor-arg>
				<constructor-arg>
					<object type="FunctionDao" />
				</constructor-arg>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	<object id="TicketStatusManager" type="Bagge.Seti.BusinessLogic.TicketStatusManager, Bagge.Seti.BusinessLogic">
		<constructor-arg>
			<object type="TicketStatusDao"/>
		</constructor-arg>
	</object>
	
	<object id="TicketManager" type="Spring.Aop.Framework.ProxyFactoryObject">
		<property name="Target">
			<object type="Bagge.Seti.BusinessLogic.TicketManager, Bagge.Seti.BusinessLogic">
				<constructor-arg>
					<object type="TicketDao"/>
				</constructor-arg>
				<constructor-arg>
					<ref object="TicketStatusManager" />
				</constructor-arg>
				<constructor-arg>
					<object type="TicketEmployeeDao"/>
				</constructor-arg>
				<constructor-arg>
					<object type="CustomerDao"/>
				</constructor-arg>
				
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>SecurityInterceptor</value>
				<value>AuditInterceptor</value>
				<value>ValidationInterceptor</value>
			</list>
		</property>
	</object>

	
	


	<object id="ValidationEngine" type="Bagge.Seti.Common.Validation.EnterpriseLibraryValidationEngine">
	</object>

	<!--<object id="ValidationEngine" type="Bagge.Seti.Common.Validation.CastleValidationEngine">
		<constructor-arg>
			<object id="CastleValidatorRunner" type="Castle.Components.Validator.ValidatorRunner">
				<constructor-arg>
					<object  type="Castle.Components.Validator.CachedValidationRegistry, Castle.Components.Validator"></object>
				</constructor-arg>
			</object>
		</constructor-arg>
	</object>-->
	
	<!-- Interceptors -->
	<object id="SecurityInterceptor" type="Bagge.Seti.Common.Interceptors.SecurityInterceptor, Bagge.Seti.Common" />
	<object id="AuditInterceptor" type="Bagge.Seti.Common.Interceptors.AuditInterceptor, Bagge.Seti.Common" />
	<object id="ValidationInterceptor" type="Bagge.Seti.Common.Interceptors.ValidationInterceptor, Bagge.Seti.Common" />
</objects>