<?xml version="1.0"?>
<configuration>
  <!--<appSettings>
    <add key="mailTemplatePath" value="c:\mailTemplate"/>
  </appSettings>-->
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bagge.Seti.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Database=SETIFile;Integrated Security=true;Connect Timeout=30; uid=bagge; pwd=bagge" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Data Source=.\SQLEXPRESS;Database=SETIFile;Integrated Security=False;Connect Timeout=30;uid=bagge;pwd=bagge" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="culture" value="es-AR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <activerecord isWeb="false" isDebug="false" pluralizeTableNames="false">
    <config>
      <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="hibernate.connection.connection_string" value="Data Source=.\SQLEXPRESS;Database=SETIFile;Integrated Security=true ;Connect Timeout=30; uid=bagge; pwd=bagge">
      <!--<add key="hibernate.connection.connection_string" value="Data Source=.\SQLEXPRESS;Database=SETIFile;Integrated Security=false;Connect Timeout=30;uid=bagge;pwd=bagge">-->
      </add>
    </config>
  </activerecord>
  <spring>
    <context>
      <resource uri="~/Config/TypeAliases.config" />
      <resource uri="~/Config/Objects.config" />
    </context>
  </spring>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@bagge.com">
        <network host="smtp.gmail.com" userName="baggeseti" password="baggeseti1234" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <Bagge.Seti.BusinessLogic.Properties.Settings>
      <setting name="EnableMailSsl" serializeAs="String">
        <value>True</value>
      </setting>
    </Bagge.Seti.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>