<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SETI;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<activerecord isWeb="false" isDebug="false" pluralizeTableNames="false">
		<config>
			<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
			<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
			<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string" value="Data Source=.\SQLEXPRESS;Initial Catalog=SETI;Integrated Security=True" />
		</config>
	</activerecord>
</configuration>